MC_USERNAME=USERNAME
MC_PASSWORD=PASSWORD
NODE_ENV=Production
PORT=PORT
# Highly Recommended: Use a 64-bit Key (https://generate-random.org/api-key-generator?count=1&length=64&type=mixed-numbers&prefix=)
ADMIN_API_KEY=Eurll82u151g4ikmnr862ownGEvJM7sXF4UsNTmdjg4Ng4g34dV5CykQ9fLlwbN5